body {
  background-color: #000;
  background-image: url(background-glow.svg);
  background-repeat: no-repeat;
  background-position: right;
  font-family: "Inter", sans-serif;
  /* color: #ffffff; */
}
